# RBL SWARM INTELLIGENCE

**Anggota**

**1.   Putri Hazizah Rahwani (120450060)**

**2.   Nawa Fatimi Fauziah (120450014)**

**3.   Sophia Yolanda RI (120450008)**

**4.   Gregorius Gama Abi Surya (120450018)**

**Metode Travelling Salesman Problem (TSP) Ant Colony System (ACS)**

In [ ]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

In [ ]:
df = pd.read_csv('Buku1.csv')
df.set_index('dari/ke', inplace=True)
df.head()

          1   2   3     4   5      6   7     8   9  10    11  12    13  14
dari/ke
1         0  86  81  76.0  74  76.00  71  73.0  78  29  67.0  73  66.0  85
2        86   0  12  40.0  41  40.00  47  40.0  41  63  39.0  44  28.0  16
3        81  12   0  24.0  28  24.00  34  37.0  28  57  25.0  30  18.0   6
4        76  40  40   0.0   4   0.07   9   4.0   8  41   4.0  51   8.2  28
5        74  41  28   4.0   0   4.00   9   6.0   5  53   6.0   6  20.0  32

In [ ]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 14 entries, 1 to 14
Data columns (total 14 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   1       14 non-null     int64
 1   2       14 non-null     int64
 2   3       14 non-null     int64
 3   4       14 non-null     float64
 4   5       14 non-null     int64
 5   6       14 non-null     float64
 6   7       14 non-null     int64
 7   8       14 non-null     float64
 8   9       14 non-null     int64
 9   10      14 non-null     int64
 10  11      14 non-null     float64
 11  12      14 non-null     int64
 12  13      14 non-null     float64
 13  14      14 non-null     int64
dtypes: float64(5), int64(9)
memory usage: 1.6 KB

In [ ]:
def generate_1_semut(ndim):
  return [ [], list(range(ndim)) ]
generate_1_semut(14)

[[], [0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13]]

In [ ]:
def generate_individus(n_individu,ndim):
  return [ generate_1_semut(ndim) for i in range(n_individu) ]
generate_individus(7,14)

[[[], [0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13]],
 [[], [0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13]],
 [[], [0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13]],
 [[], [0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13]],
 [[], [0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13]],
 [[], [0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13]],
 [[], [0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13]]]

In [ ]:
def generate_pheromones(ndim,tau_awal):
  pheromones = np.ones(shape=(ndim,ndim)) * tau_awal
  np.fill_diagonal(pheromones,0)
  return pd.DataFrame(pheromones)
generate_pheromones(14,1)

     0    1    2    3    4    5    6    7    8    9    10   11   12   13
0   0.0  1.0  1.0  1.0  1.0  1.0  1.0  1.0  1.0  1.0  1.0  1.0  1.0  1.0
1   1.0  0.0  1.0  1.0  1.0  1.0  1.0  1.0  1.0  1.0  1.0  1.0  1.0  1.0
2   1.0  1.0  0.0  1.0  1.0  1.0  1.0  1.0  1.0  1.0  1.0  1.0  1.0  1.0
3   1.0  1.0  1.0  0.0  1.0  1.0  1.0  1.0  1.0  1.0  1.0  1.0  1.0  1.0
4   1.0  1.0  1.0  1.0  0.0  1.0  1.0  1.0  1.0  1.0  1.0  1.0  1.0  1.0
5   1.0  1.0  1.0  1.0  1.0  0.0  1.0  1.0  1.0  1.0  1.0  1.0  1.0  1.0
6   1.0  1.0  1.0  1.0  1.0  1.0  0.0  1.0  1.0  1.0  1.0  1.0  1.0  1.0
7   1.0  1.0  1.0  1.0  1.0  1.0  1.0  0.0  1.0  1.0  1.0  1.0  1.0  1.0
8   1.0  1.0  1.0  1.0  1.0  1.0  1.0  1.0  0.0  1.0  1.0  1.0  1.0  1.0
9   1.0  1.0  1.0  1.0  1.0  1.0  1.0  1.0  1.0  0.0  1.0  1.0  1.0  1.0
10  1.0  1.0  1.0  1.0  1.0  1.0  1.0  1.0  1.0  1.0  0.0  1.0  1.0  1.0
11  1.0  1.0  1.0  1.0  1.0  1.0  1.0  1.0  1.0  1.0  1.0  0.0  1.0  1.0
12  1.0  1.0  1.0  1.0  1.0  1.0  1.0  1.0  1.0  1.0  1.0  1.0  0.0  1.0
13  1.0  1.0  1.0  1.0  1.0  1.0  1.0  1.0  1.0  1.0  1.0  1.0  1.0  0.0

In [ ]:
def generate_delta_pheromones(ndim):
  return generate_pheromones(ndim,0)
generate_delta_pheromones(14)

     0    1    2    3    4    5    6    7    8    9    10   11   12   13
0   0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0
1   0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0
2   0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0
3   0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0
4   0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0
5   0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0
6   0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0
7   0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0
8   0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0
9   0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0
10  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0
11  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0
12  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0
13  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0

Definisi Fungsi Objektif

In [ ]:
def f(X,adj_mat,tipe='full'):
  return sum([ adj_mat[ X[i],X[i+1] ] for i in range(len(X) - 1) ]) + (adj_mat[ X[-1],X[0] ] if tipe=='full' else 0)

def ro_1(el_c,el_t,pheromones,adj_mat,params):
  return ( pheromones[el_c,el_t] )**params['alpha'] * ( 1/adj_mat[el_c,el_t])**params['beta']

def ro_1_all(n_semut,pher,adj_mat,params):
  return [ ro_1(n_semut[0][-1],el_t,pher,adj_mat,params) for el_t in n_semut[1] ]

In [ ]:
def transition_prob(semut,pher,adj_mat,params):
  r = ro_1_all(semut,pher,adj_mat,params)
  total_prob = sum(r)
  return [ p/total_prob for p in r ]

In [ ]:
def choose_next_kota(semut,pher,adj_mat,params):
  df = pd.DataFrame( {'next':semut[1] , 'prob': transition_prob(semut,pher,adj_mat,params) } )
  choosen = df.sample(n=1,weights='prob').iloc[0,0]
  return nv_to_v(semut,choosen)

def choose_next_kota_all(semuts,pher,adj_mat,params):
  return [ choose_next_kota(s,pher,adj_mat,params) for s in semuts ]

In [ ]:
def update_delta_pher(semuts,delta_pher,adj_mat,params):
  temp = generate_delta_pheromones(params['ndim'])
  for s in semuts:
    Lk = f(s[0],adj_mat,tipe='partial')
    temp[ s[0][-2] ][ s[0][-1] ] = delta_pher[ s[0][-2] ][ s[0][-1] ] +(params['Q']/Lk)
    return temp

def update_pheromones(pher,delta_pher,semuts,adj_mat,params):
  return params['rho'] * pher +update_delta_pher(semuts,delta_pher,adj_mat,params)

In [ ]:
def sol(semuts):
  return np.array( [ s[0] for s in semuts])

In [ ]:
def calc_fitness(semuts,adj_mat):
  return np.array( [ f(s,adj_mat,'full') for s in semuts ] )

In [ ]:
def find_best(sl,fitness):
  idxs = np.argsort(fitness)
  return np.append( sl[idxs][0],fitness[idxs][0] )

In [ ]:
def satu_full(pheromones,adj_mat,params):
  semuts = generate_individus(params['n_individu'],params['ndim'])
  semuts = inisialisasi(semuts)
  delta_pheromones = generate_delta_pheromones(params['ndim'])

  t = 1
  while t < params['ndim']:
    semuts = choose_next_kota_all(semuts,pheromones.values,adj_mat,params)
    pheromones =update_pheromones(pheromones,delta_pheromones,semuts,adj_mat,params)
    delta_pheromones = generate_delta_pheromones(params['ndim'])
    t = t + 1
  sl = sol(semuts)
  fitness = calc_fitness(sl,adj_mat)
  return find_best(sl,fitness) , pheromones

In [ ]:
def ACO(params,df):
  adj_mat = df.values
  generasi = 0
  bests = []
  pheromones = generate_pheromones(params['ndim'],2)
  delta_pheromones = generate_delta_pheromones(params['ndim'])

  while generasi < params['max_generasi']:
    best_ , pheromones = satu_full(pheromones,adj_mat,params)
    bests.append(best_)
    generasi = generasi + 1
  return np.array(bests)

In [ ]:
def nv_to_v(semut,el):
  temp = semut.copy()
  temp[0].append(el)
  temp[1].remove(el)
  return temp

def inisialisasi(semuts):
  return [ nv_to_v(s,s[1][ np.random.randint(0,len(s[1]))] ) for s in semuts ]

In [ ]:
dfparams=pd.read_excel('param.xlsx')
dfparams

   alpha  beta  rho  Q  n_individu  ndim  max_generasi
0      1     1    1  1           5    14            10
1      1     1    1  1          10    14            20
2      1     1    1  1          15    14            30
3      1     1    1  1          20    14            40
4      1     1    1  1          25    14            50

In [ ]:
def run_ACO(dfparams,df):
  return [ACO(dfparams.loc[i].to_dict(),df) for i in range (dfparams.shape[0])]

def Save_ACO(hasil):
  for h in enumerate(hasil):
    pd.DataFrame(h[1]).to_csv(' ' + str(h[0])+'.csv')

In [ ]:
hasil= run_ACO(dfparams,df)

In [ ]:
print(hasil)

[array([[  5.  ,   3.  ,   8.  ,   7.  ,   4.  ,  11.  ,   6.  ,  10.  ,
         12.  ,   2.  ,   1.  ,  13.  ,   9.  ,   0.  , 258.07],
       [  5.  ,   3.  ,   7.  ,  10.  ,   6.  ,  11.  ,   4.  ,   8.  ,
         12.  ,  13.  ,   2.  ,   1.  ,   9.  ,   0.  , 246.92],
       [  4.  ,   8.  ,   6.  ,  11.  ,   7.  ,  10.  ,   3.  ,   5.  ,
         12.  ,   2.  ,  13.  ,   1.  ,   9.  ,   0.  , 240.92],
       [  9.  ,   4.  ,  10.  ,   5.  ,   7.  ,   6.  ,   3.  ,  13.  ,
          1.  ,   2.  ,  11.  ,   8.  ,  12.  ,   0.  , 281.  ],
       [  9.  ,   0.  ,  11.  ,   5.  ,   3.  ,   7.  ,   6.  ,  10.  ,
          8.  ,   4.  ,  12.  ,   2.  ,  13.  ,   1.  , 255.07],
       [  4.  ,   8.  ,   3.  ,   5.  ,  11.  ,  10.  ,   7.  ,   6.  ,
         12.  ,   2.  ,   1.  ,  13.  ,   0.  ,   9.  , 252.92],
       [  3.  ,   5.  ,  10.  ,   7.  ,   4.  ,  11.  ,  12.  ,   6.  ,
          8.  ,   0.  ,   9.  ,   1.  ,   2.  ,  13.  , 267.92],
       [  6.  ,   3.  ,   5.  ,  11.  ,   4.  ,  10.  ,   7.  ,  12.  ,
          8.  ,   2.  ,  13.  ,   1.  ,   0.  ,   9.  , 264.92],
       [ 13.  ,   8.  ,   4.  ,   7.  ,   6.  ,   3.  ,   5.  ,  10.  ,
         11.  ,  12.  ,   0.  ,   9.  ,   2.  ,   1.  , 256.07],
       [  3.  ,   5.  ,   1.  ,  13.  ,   2.  ,  12.  ,  10.  ,   7.  ,
         11.  ,   4.  ,   8.  ,   6.  ,   0.  ,   9.  , 255.92]]), array([[ 12.  ,   7.  ,  10.  ,   5.  ,   3.  ,   4.  ,  11.  ,   6.  ,
          8.  ,  13.  ,   2.  ,   1.  ,   9.  ,   0.  , 251.92],
       [  8.  ,  11.  ,   7.  ,   5.  ,   3.  ,   6.  ,  12.  ,  10.  ,
          4.  ,  13.  ,   2.  ,   9.  ,   0.  ,   1.  , 303.07],
       [  6.  ,  10.  ,  12.  ,   0.  ,   5.  ,   4.  ,   8.  ,  11.  ,
          9.  ,   3.  ,   7.  ,   1.  ,  13.  ,   2.  , 359.  ],
       [ 12.  ,   2.  ,  13.  ,   1.  ,  11.  ,   7.  ,   5.  ,   3.  ,
          6.  ,   8.  ,  10.  ,   4.  ,   9.  ,   0.  , 273.07],
       [  0.  ,  10.  ,   7.  ,   3.  ,   5.  ,  11.  ,   8.  ,   4.  ,
          6.  ,  13.  ,   1.  ,   2.  ,  12.  ,   9.  , 254.92],
       [  9.  ,  12.  ,   8.  ,   4.  ,  11.  ,   7.  ,  10.  ,   5.  ,
         13.  ,   1.  ,   2.  ,   3.  ,   6.  ,   0.  , 263.85],
       [  3.  ,   5.  ,  10.  ,   4.  ,  11.  ,   7.  ,   6.  ,   8.  ,
          1.  ,   2.  ,  13.  ,  12.  ,   0.  ,   9.  , 249.07],
       [  9.  ,  11.  ,   8.  ,   6.  ,   3.  ,   5.  ,   4.  ,   7.  ,
         10.  ,  12.  ,   2.  ,  13.  ,   1.  ,   0.  , 247.92],
       [  7.  ,  10.  ,   9.  ,   0.  ,   6.  ,  11.  ,   5.  ,   3.  ,
          4.  ,   8.  ,  12.  ,   2.  ,   1.  ,  13.  , 251.92],
       [ 10.  ,   7.  ,   4.  ,   6.  ,   8.  ,  11.  ,   5.  ,   3.  ,
          9.  ,   0.  ,   2.  ,  13.  ,   1.  ,  12.  , 247.92],
       [  2.  ,  13.  ,   0.  ,   9.  ,   6.  ,   4.  ,   5.  ,   3.  ,
          8.  ,  11.  ,   7.  ,  10.  ,  12.  ,   1.  , 245.92],
       [  1.  ,   2.  ,  13.  ,   6.  ,   8.  ,   7.  ,  10.  ,   5.  ,
          3.  ,   4.  ,  11.  ,  12.  ,   9.  ,   0.  , 259.92],
       [  2.  ,  13.  ,   4.  ,  12.  ,   3.  ,   5.  ,   7.  ,  10.  ,
          6.  ,  11.  ,   8.  ,   9.  ,   0.  ,   1.  , 264.12],
       [  2.  ,  12.  ,   4.  ,   8.  ,  10.  ,   7.  ,  11.  ,   5.  ,
          3.  ,   6.  ,   9.  ,   0.  ,   1.  ,  13.  , 251.92],
       [  1.  ,  12.  ,   7.  ,  10.  ,   6.  ,  11.  ,   8.  ,   4.  ,
          9.  ,   0.  ,   3.  ,   5.  ,  13.  ,   2.  , 263.92],
       [ 12.  ,  13.  ,   2.  ,   1.  ,   3.  ,   5.  ,   4.  ,  11.  ,
          6.  ,   7.  ,  10.  ,   8.  ,   9.  ,   0.  , 253.92],
       [  7.  ,   6.  ,  10.  ,  11.  ,  12.  ,  13.  ,   1.  ,   2.  ,
          5.  ,   3.  ,   8.  ,   4.  ,   9.  ,   0.  , 264.07],
       [ 10.  ,   7.  ,   4.  ,   8.  ,  11.  ,   6.  ,   5.  ,   3.  ,
         12.  ,   2.  ,   1.  ,  13.  ,   9.  ,   0.  , 245.12],
       [ 11.  ,  12.  ,   8.  ,   4.  ,   3.  ,   5.  ,   7.  ,  10.  ,
          6.  ,   2.  ,  13.  ,   1.  ,   9.  ,   0.  , 264.92],
       [  9.  ,   2.  ,  13.  ,   7.  ,  10.  ,   6.  ,  12.  ,   4.  ,
          8.  ,  11.  ,   5.  ,   3.  ,   1.  ,   0.  , 304.92]]), array([[ 10.  ,  11.  ,   4.  ,   3.  ,   5.  ,  12.  ,   6.  ,   7.  ,
          8.  ,  13.  ,   2.  ,   1.  ,   0.  ,   9.  , 254.07],
       [  5.  ,   3.  ,   7.  ,  10.  ,  11.  ,   6.  ,   8.  ,   4.  ,
         12.  ,   1.  ,   2.  ,  13.  ,   9.  ,   0.  , 259.92],
       [  0.  ,  12.  ,   5.  ,   3.  ,   8.  ,  10.  ,   4.  ,  11.  ,
          7.  ,   6.  ,   2.  ,  13.  ,   1.  ,   9.  , 257.07],
       [ 12.  ,   5.  ,   3.  ,  10.  ,   7.  ,   8.  ,   4.  ,  11.  ,
          6.  ,   0.  ,   9.  ,   1.  ,   2.  ,  13.  , 238.92],
       [  4.  ,   3.  ,   5.  ,  11.  ,   8.  ,   7.  ,  13.  ,   2.  ,
          1.  ,  12.  ,  10.  ,   6.  ,   0.  ,   9.  , 268.07],
       [ 10.  ,   7.  ,   3.  ,   5.  ,  12.  ,  13.  ,   2.  ,   1.  ,
          0.  ,   9.  ,  11.  ,   4.  ,   8.  ,   6.  , 239.92],
       [ 11.  ,   4.  ,  10.  ,   7.  ,   6.  ,   8.  ,   3.  ,   5.  ,
         12.  ,  13.  ,   2.  ,   1.  ,   9.  ,   0.  , 246.92],
       [ 10.  ,  11.  ,   6.  ,   7.  ,   4.  ,   5.  ,   3.  ,   8.  ,
          2.  ,  13.  ,   1.  ,  12.  ,   0.  ,   9.  , 242.07],
       [  0.  ,  12.  ,   4.  ,   6.  ,  11.  ,  10.  ,   7.  ,   3.  ,
          5.  ,   8.  ,  13.  ,   2.  ,   1.  ,   9.  , 259.92],
       [  5.  ,   3.  ,   7.  ,  10.  ,   4.  ,   6.  ,  11.  ,  12.  ,
          2.  ,  13.  ,   1.  ,   0.  ,   9.  ,   8.  , 249.92],
       [ 10.  ,   7.  ,   5.  ,   3.  ,   4.  ,   6.  ,  11.  ,   8.  ,
         12.  ,  13.  ,   1.  ,   2.  ,   0.  ,   9.  , 242.92],
       [  7.  ,   5.  ,   3.  ,   6.  ,  11.  ,   4.  ,   8.  ,  10.  ,
          2.  ,   1.  ,  13.  ,  12.  ,   9.  ,   0.  , 256.07],
       [  3.  ,   5.  ,  10.  ,  11.  ,  13.  ,   2.  ,   1.  ,   8.  ,
          4.  ,   7.  ,   6.  ,  12.  ,   9.  ,   0.  , 276.07],
       [  2.  ,  13.  ,  12.  ,   8.  ,  11.  ,   6.  ,   3.  ,   5.  ,
          4.  ,  10.  ,   7.  ,   9.  ,   0.  ,   1.  , 245.92],
       [  0.  ,  12.  ,  10.  ,   7.  ,   4.  ,   6.  ,  11.  ,   8.  ,
          3.  ,   5.  ,  13.  ,   2.  ,   1.  ,   9.  , 246.92],
       [  6.  ,  11.  ,   8.  ,   4.  ,   3.  ,   5.  ,   1.  ,   2.  ,
         13.  ,  10.  ,   7.  ,  12.  ,   0.  ,   9.  , 259.92],
       [ 11.  ,  10.  ,   7.  ,   3.  ,   5.  ,   4.  ,   6.  ,   8.  ,
         12.  ,   1.  ,   2.  ,  13.  ,   9.  ,   0.  , 255.92],
       [  3.  ,   5.  ,  10.  ,   7.  ,   6.  ,  11.  ,   8.  ,   4.  ,
         12.  ,   2.  ,   1.  ,  13.  ,   0.  ,   9.  , 243.92],
       [  9.  ,   3.  ,   5.  ,   4.  ,  11.  ,   8.  ,   7.  ,  10.  ,
          6.  ,  12.  ,  13.  ,   2.  ,   1.  ,   0.  , 238.92],
       [  8.  ,   4.  ,   3.  ,   5.  ,   7.  ,  10.  ,  11.  ,   6.  ,
         12.  ,   1.  ,   2.  ,  13.  ,   0.  ,   9.  , 247.92],
       [  3.  ,   5.  ,   7.  ,  10.  ,   4.  ,   6.  ,  11.  ,   8.  ,
         12.  ,   2.  ,  13.  ,   1.  ,   9.  ,   0.  , 252.92],
       [ 10.  ,   7.  ,   3.  ,   5.  ,   4.  ,   6.  ,  11.  ,   8.  ,
          2.  ,  13.  ,   1.  ,   0.  ,   9.  ,  12.  , 244.92],
       [  9.  ,   0.  ,  10.  ,   7.  ,  11.  ,   8.  ,   6.  ,   4.  ,
          3.  ,   5.  ,   2.  ,  13.  ,   1.  ,  12.  , 244.92],
       [ 10.  ,   4.  ,  11.  ,   7.  ,   8.  ,   3.  ,   5.  ,   6.  ,
          9.  ,   0.  ,   2.  ,  13.  ,   1.  ,  12.  , 258.07],
       [  6.  ,  11.  ,   5.  ,   3.  ,  10.  ,   7.  ,   4.  ,   8.  ,
          2.  ,   1.  ,  13.  ,   9.  ,   0.  ,  12.  , 250.92],
       [  4.  ,   8.  ,   3.  ,   5.  ,  10.  ,   7.  ,  11.  ,   6.  ,
         12.  ,   1.  ,   2.  ,  13.  ,   9.  ,   0.  , 248.92],
       [  1.  ,   2.  ,  13.  ,  10.  ,   6.  ,   7.  ,  11.  ,   4.  ,
          5.  ,   3.  ,  12.  ,   9.  ,   0.  ,   8.  , 265.27],
       [  0.  ,   9.  ,   3.  ,   5.  ,   7.  ,   6.  ,  11.  ,  10.  ,
         12.  ,   4.  ,   1.  ,  13.  ,   2.  ,   8.  , 284.07],
       [  9.  ,   7.  ,   6.  ,   5.  ,   3.  ,  10.  ,   4.  ,  11.  ,
          8.  ,  12.  ,  13.  ,   2.  ,   1.  ,   0.  , 253.07],
       [  0.  ,   9.  ,  12.  ,  10.  ,   7.  ,   4.  ,   8.  ,   6.  ,
         11.  ,   5.  ,   3.  ,  13.  ,   2.  ,   1.  , 243.92]]), array([[  4.  ,   8.  ,  11.  ,   6.  ,   3.  ,   5.  ,  10.  ,   7.  ,
          0.  ,   9.  ,  13.  ,   2.  ,   1.  ,  12.  , 257.92],
       [  8.  ,  11.  ,   4.  ,  10.  ,   7.  ,   5.  ,   3.  ,   6.  ,
         12.  ,   0.  ,   9.  ,   1.  ,  13.  ,   2.  , 253.92],
       [  0.  ,   8.  ,   3.  ,   5.  ,  11.  ,  10.  ,   7.  ,   6.  ,
          4.  ,  12.  ,   1.  ,  13.  ,   2.  ,   9.  , 263.92],
       [ 10.  ,   7.  ,   5.  ,   3.  ,   4.  ,   8.  ,   2.  ,   1.  ,
         13.  ,  12.  ,   6.  ,  11.  ,   9.  ,   0.  , 252.92],
       [  3.  ,   5.  ,  11.  ,   6.  ,  10.  ,  12.  ,   9.  ,   0.  ,
         13.  ,   2.  ,   1.  ,   8.  ,   4.  ,   7.  , 253.07],
       [  3.  ,   5.  ,  10.  ,   7.  ,   6.  ,  11.  ,   4.  ,   8.  ,
          2.  ,  13.  ,   1.  ,   0.  ,   9.  ,  12.  , 238.12],
       [ 10.  ,   7.  ,  11.  ,   6.  ,   3.  ,   5.  ,   4.  ,   8.  ,
         13.  ,   2.  ,   1.  ,   9.  ,   0.  ,  12.  , 245.92],
       [  1.  ,   2.  ,  13.  ,   4.  ,   6.  ,   3.  ,   5.  ,   8.  ,
         10.  ,   7.  ,  11.  ,  12.  ,   9.  ,   0.  , 256.92],
       [  0.  ,  12.  ,   2.  ,  13.  ,   1.  ,   3.  ,   5.  ,  10.  ,
          7.  ,  11.  ,   6.  ,   8.  ,   4.  ,   9.  , 254.92],
       [  0.  ,   9.  ,   3.  ,   5.  ,  11.  ,   7.  ,  10.  ,  12.  ,
          4.  ,   8.  ,   6.  ,   2.  ,  13.  ,   1.  , 265.92],
       [  9.  ,   6.  ,  11.  ,  12.  ,   8.  ,  10.  ,   7.  ,   5.  ,
          3.  ,   4.  ,  13.  ,   2.  ,   1.  ,   0.  , 257.92],
       [  7.  ,  10.  ,  11.  ,   6.  ,   8.  ,  12.  ,   3.  ,   5.  ,
          4.  ,   9.  ,   0.  ,   1.  ,   2.  ,  13.  , 264.12],
       [  9.  ,   3.  ,   5.  ,  10.  ,   7.  ,  11.  ,   6.  ,   8.  ,
          4.  ,   2.  ,  13.  ,   1.  ,  12.  ,   0.  , 240.92],
       [ 13.  ,   2.  ,   5.  ,   3.  ,   8.  ,   4.  ,  10.  ,   6.  ,
          7.  ,  11.  ,  12.  ,   0.  ,   9.  ,   1.  , 244.07],
       [ 12.  ,   6.  ,  11.  ,  10.  ,   8.  ,   3.  ,   5.  ,   4.  ,
          7.  ,   9.  ,   0.  ,   2.  ,   1.  ,  13.  , 255.07],
       [ 12.  ,   3.  ,   5.  ,   4.  ,   8.  ,   7.  ,  10.  ,   6.  ,
          9.  ,   0.  ,   2.  ,   1.  ,  13.  ,  11.  , 258.12],
       [  1.  ,   2.  ,  13.  ,   5.  ,   3.  ,  10.  ,   7.  ,   6.  ,
          8.  ,  12.  ,  11.  ,   4.  ,   9.  ,   0.  , 262.92],
       [ 10.  ,   7.  ,   5.  ,   3.  ,   8.  ,   6.  ,  11.  ,   4.  ,
          2.  ,   1.  ,  13.  ,  12.  ,   9.  ,   0.  , 248.92],
       [  2.  ,  13.  ,  12.  ,   6.  ,  11.  ,   7.  ,  10.  ,   3.  ,
          5.  ,   4.  ,   8.  ,   9.  ,   0.  ,   1.  , 241.92],
       [ 11.  ,   6.  ,   7.  ,   8.  ,   3.  ,   5.  ,   4.  ,  10.  ,
         12.  ,   1.  ,   2.  ,  13.  ,   9.  ,   0.  , 252.07],
       [  6.  ,   7.  ,  10.  ,  11.  ,  12.  ,   5.  ,   3.  ,   8.  ,
          4.  ,  13.  ,   2.  ,   1.  ,   9.  ,   0.  , 252.92],
       [  4.  ,   8.  ,   3.  ,   5.  ,   7.  ,  10.  ,   6.  ,  11.  ,
         12.  ,   9.  ,   0.  ,   2.  ,  13.  ,   1.  , 251.92],
       [ 10.  ,   7.  ,   3.  ,   5.  ,  11.  ,  12.  ,   8.  ,   4.  ,
          2.  ,  13.  ,   1.  ,   0.  ,   9.  ,   6.  , 254.92],
       [ 13.  ,   8.  ,  11.  ,   7.  ,  10.  ,   6.  ,  12.  ,   5.  ,
          3.  ,   4.  ,   9.  ,   0.  ,   2.  ,   1.  , 264.92],
       [  7.  ,  10.  ,   4.  ,   5.  ,   3.  ,   8.  ,  11.  ,  12.  ,
          1.  ,  13.  ,   2.  ,   9.  ,   0.  ,   6.  , 245.92],
       [  1.  ,   2.  ,  13.  ,   3.  ,   5.  ,   8.  ,   4.  ,  10.  ,
          7.  ,  11.  ,   6.  ,  12.  ,   0.  ,   9.  , 244.92],
       [  2.  ,   4.  ,   7.  ,  10.  ,   5.  ,   3.  ,   8.  ,  11.  ,
          6.  ,   0.  ,   9.  ,  12.  ,   1.  ,  13.  , 248.92],
       [  1.  ,   2.  ,  13.  ,   5.  ,   3.  ,   7.  ,  11.  ,   6.  ,
         10.  ,   4.  ,   8.  ,  12.  ,   0.  ,   9.  , 244.07],
       [  3.  ,   5.  ,   7.  ,  10.  ,   6.  ,  11.  ,   8.  ,   4.  ,
          9.  ,   0.  ,  12.  ,   1.  ,  13.  ,   2.  , 245.92],
       [ 10.  ,  11.  ,   6.  ,   4.  ,   3.  ,   5.  ,   8.  ,   7.  ,
         12.  ,  13.  ,   1.  ,   2.  ,   9.  ,   0.  , 253.07],
       [  9.  ,   0.  ,   5.  ,   3.  ,   6.  ,  11.  ,   7.  ,  10.  ,
          8.  ,   4.  ,  13.  ,   2.  ,   1.  ,  12.  , 255.92],
       [ 12.  ,   5.  ,   3.  ,   7.  ,  11.  ,   6.  ,   4.  ,   8.  ,
         10.  ,   2.  ,  13.  ,   1.  ,   9.  ,   0.  , 247.07],
       [  4.  ,   3.  ,   5.  ,  11.  ,   7.  ,  10.  ,   0.  ,   9.  ,
          1.  ,  13.  ,   2.  ,  12.  ,   6.  ,   8.  , 240.92],
       [ 11.  ,   5.  ,   3.  ,   4.  ,   8.  ,   7.  ,  10.  ,  12.  ,
          1.  ,   2.  ,  13.  ,   0.  ,   9.  ,   6.  , 241.92],
       [  0.  ,  10.  ,  11.  ,   7.  ,   4.  ,   3.  ,   5.  ,   8.  ,
          2.  ,  13.  ,   1.  ,  12.  ,   6.  ,   9.  , 258.07],
       [  2.  ,   1.  ,  13.  ,  12.  ,  10.  ,   6.  ,   7.  ,  11.  ,
          4.  ,   5.  ,   3.  ,   8.  ,   9.  ,   0.  , 250.07],
       [  5.  ,   3.  ,   8.  ,   4.  ,  11.  ,   6.  ,   7.  ,  10.  ,
         12.  ,   2.  ,   1.  ,  13.  ,   0.  ,   9.  , 237.92],
       [ 10.  ,   7.  ,   3.  ,   5.  ,   4.  ,   8.  ,  11.  ,   6.  ,
         12.  ,  13.  ,   2.  ,   1.  ,   0.  ,   9.  , 232.92],
       [  0.  ,   9.  ,   3.  ,   5.  ,   8.  ,  11.  ,   4.  ,  10.  ,
          7.  ,   1.  ,   2.  ,  13.  ,  12.  ,   6.  , 261.92],
       [ 10.  ,   7.  ,   3.  ,   5.  ,  12.  ,  11.  ,   6.  ,   4.  ,
          8.  ,   1.  ,   2.  ,  13.  ,   0.  ,   9.  , 254.92]]), array([[  9.  ,   0.  ,  10.  ,   7.  ,   4.  ,   3.  ,   5.  ,   6.  ,
         11.  ,   8.  ,   2.  ,  13.  ,   1.  ,  12.  , 248.92],
       [ 12.  ,  11.  ,   6.  ,  10.  ,   7.  ,   3.  ,   5.  ,  13.  ,
          1.  ,   2.  ,   8.  ,   4.  ,   0.  ,   9.  , 256.92],
       [  8.  ,  11.  ,   6.  ,   7.  ,   3.  ,   5.  ,   4.  ,  10.  ,
         12.  ,   1.  ,   2.  ,  13.  ,   9.  ,   0.  , 251.07],
       [ 10.  ,   3.  ,   5.  ,  11.  ,   4.  ,   8.  ,   7.  ,   6.  ,
         12.  ,   2.  ,  13.  ,   1.  ,   0.  ,   9.  , 240.07],
       [  2.  ,   1.  ,  13.  ,   5.  ,   3.  ,  10.  ,   7.  ,   8.  ,
          4.  ,   6.  ,  11.  ,  12.  ,   0.  ,   9.  , 248.92],
       [  0.  ,   9.  ,  11.  ,   6.  ,   7.  ,  10.  ,   4.  ,   8.  ,
          5.  ,   3.  ,  12.  ,   2.  ,  13.  ,   1.  , 237.12],
       [ 10.  ,   7.  ,  11.  ,   8.  ,   3.  ,   5.  ,   4.  ,   6.  ,
         12.  ,   0.  ,   9.  ,   1.  ,   2.  ,  13.  , 249.92],
       [ 12.  ,   5.  ,   3.  ,  10.  ,   7.  ,  11.  ,   4.  ,   6.  ,
          8.  ,   9.  ,   0.  ,   2.  ,  13.  ,   1.  , 252.92],
       [  0.  ,   9.  ,   5.  ,   3.  ,   4.  ,  10.  ,   7.  ,   8.  ,
         11.  ,   6.  ,  13.  ,   2.  ,   1.  ,  12.  , 251.92],
       [  8.  ,   4.  ,   3.  ,  10.  ,  11.  ,   7.  ,   5.  ,  12.  ,
         13.  ,   1.  ,   2.  ,   9.  ,   0.  ,   6.  , 249.  ],
       [  1.  ,  13.  ,   2.  ,   3.  ,   5.  ,   4.  ,  10.  ,   7.  ,
          8.  ,  11.  ,   6.  ,  12.  ,   9.  ,   0.  , 245.92],
       [  5.  ,   3.  ,   4.  ,   8.  ,   6.  ,  11.  ,   7.  ,  10.  ,
         12.  ,  13.  ,   1.  ,   2.  ,   0.  ,   9.  , 237.92],
       [  6.  ,  11.  ,   8.  ,   4.  ,   3.  ,   5.  ,   7.  ,  10.  ,
         12.  ,  13.  ,   2.  ,   1.  ,   0.  ,   9.  , 233.92],
       [  3.  ,   5.  ,  11.  ,  10.  ,   6.  ,   8.  ,   4.  ,   7.  ,
         12.  ,  13.  ,   2.  ,   1.  ,   0.  ,   9.  , 243.07],
       [  9.  ,   0.  ,  11.  ,  10.  ,   1.  ,   2.  ,  13.  ,  12.  ,
          6.  ,   7.  ,   4.  ,   5.  ,   3.  ,   8.  , 272.07],
       [  8.  ,   3.  ,   5.  ,   4.  ,  10.  ,  11.  ,   7.  ,   6.  ,
         12.  ,   2.  ,   1.  ,  13.  ,   0.  ,   9.  , 254.07],
       [  2.  ,  13.  ,  12.  ,   6.  ,  11.  ,   4.  ,   5.  ,   3.  ,
          7.  ,  10.  ,   8.  ,   0.  ,   9.  ,   1.  , 251.92],
       [  4.  ,   8.  ,   7.  ,  11.  ,   5.  ,   3.  ,  10.  ,  12.  ,
          2.  ,   1.  ,  13.  ,   9.  ,   0.  ,   6.  , 251.07],
       [  5.  ,   3.  ,   4.  ,   8.  ,   9.  ,   0.  ,   6.  ,  11.  ,
          7.  ,  10.  ,  13.  ,   2.  ,   1.  ,  12.  , 251.92],
       [  6.  ,  11.  ,   5.  ,   3.  ,  10.  ,   8.  ,   4.  ,   7.  ,
         12.  ,   2.  ,   1.  ,  13.  ,   0.  ,   9.  , 251.07],
       [  0.  ,  12.  ,   5.  ,   3.  ,   4.  ,   8.  ,   7.  ,  10.  ,
          6.  ,  11.  ,  13.  ,   1.  ,   2.  ,   9.  , 247.92],
       [  6.  ,  10.  ,   7.  ,   4.  ,   8.  ,  11.  ,   5.  ,   3.  ,
         12.  ,   1.  ,   2.  ,  13.  ,   9.  ,   0.  , 242.12],
       [  5.  ,   8.  ,   4.  ,   3.  ,   6.  ,  11.  ,   7.  ,  10.  ,
         12.  ,  13.  ,   2.  ,   1.  ,   9.  ,   0.  , 251.85],
       [  8.  ,  11.  ,   5.  ,   3.  ,   4.  ,  10.  ,   6.  ,   7.  ,
         12.  ,   2.  ,  13.  ,   1.  ,   0.  ,   9.  , 248.07],
       [  6.  ,  11.  ,   7.  ,  10.  ,   5.  ,   3.  ,   8.  ,   4.  ,
         12.  ,   2.  ,   1.  ,  13.  ,   0.  ,   9.  , 249.92],
       [ 10.  ,   7.  ,  11.  ,   8.  ,   4.  ,   5.  ,   3.  ,  13.  ,
          1.  ,   2.  ,  12.  ,   6.  ,   9.  ,   0.  , 247.92],
       [  8.  ,   6.  ,  10.  ,   7.  ,   4.  ,   3.  ,   5.  ,  11.  ,
         12.  ,  13.  ,   2.  ,   1.  ,   0.  ,   9.  , 247.92],
       [ 12.  ,   5.  ,   3.  ,   7.  ,   4.  ,   8.  ,  11.  ,  10.  ,
          6.  ,  13.  ,   2.  ,   1.  ,   0.  ,   9.  , 253.07],
       [  6.  ,  10.  ,  11.  ,   8.  ,   5.  ,   3.  ,   7.  ,   4.  ,
         12.  ,   2.  ,  13.  ,   1.  ,   0.  ,   9.  , 252.07],
       [  7.  ,   5.  ,   3.  ,   8.  ,   4.  ,  11.  ,   6.  ,  10.  ,
         12.  ,  13.  ,   2.  ,   1.  ,   0.  ,   9.  , 242.07],
       [  0.  ,  12.  ,  10.  ,   7.  ,   5.  ,   3.  ,   4.  ,  11.  ,
          8.  ,   6.  ,   2.  ,  13.  ,   1.  ,   9.  , 254.92],
       [ 13.  ,   2.  ,   3.  ,   5.  ,  10.  ,   7.  ,   6.  ,   8.  ,
         11.  ,   4.  ,  12.  ,   0.  ,   9.  ,   1.  , 253.92],
       [ 13.  ,  11.  ,   6.  ,   7.  ,   4.  ,   8.  ,   3.  ,   5.  ,
          9.  ,   0.  ,  10.  ,  12.  ,   1.  ,   2.  , 253.07],
       [  3.  ,   5.  ,   4.  ,   8.  ,  11.  ,   7.  ,  10.  ,  12.  ,
          2.  ,  13.  ,   1.  ,   9.  ,   0.  ,   6.  , 240.92],
       [ 11.  ,   8.  ,   5.  ,   3.  ,   4.  ,  10.  ,   7.  ,   6.  ,
         12.  ,   2.  ,  13.  ,   1.  ,   9.  ,   0.  , 246.92],
       [ 12.  ,   5.  ,   3.  ,   7.  ,  10.  ,   6.  ,  11.  ,   4.  ,
          8.  ,   2.  ,  13.  ,   1.  ,   0.  ,   9.  , 238.92],
       [ 10.  ,   7.  ,  11.  ,   8.  ,   3.  ,   5.  ,   4.  ,  13.  ,
          2.  ,   1.  ,  12.  ,   6.  ,   0.  ,   9.  , 253.92],
       [  2.  ,  13.  ,   1.  ,  12.  ,  11.  ,   7.  ,  10.  ,   3.  ,
          5.  ,   4.  ,   8.  ,   6.  ,   0.  ,   9.  , 244.92],
       [  6.  ,   7.  ,  10.  ,   4.  ,   3.  ,   5.  ,  11.  ,   8.  ,
         12.  ,   1.  ,  13.  ,   2.  ,   0.  ,   9.  , 244.92],
       [ 10.  ,   7.  ,   5.  ,   3.  ,   4.  ,   8.  ,  11.  ,   6.  ,
          1.  ,  13.  ,   2.  ,  12.  ,   9.  ,   0.  , 248.92],
       [  3.  ,   5.  ,   6.  ,   7.  ,  10.  ,  11.  ,   4.  ,   8.  ,
         13.  ,   2.  ,   1.  ,   0.  ,   9.  ,  12.  , 248.12],
       [  7.  ,  10.  ,   6.  ,   3.  ,   5.  ,  13.  ,   2.  ,   1.  ,
          9.  ,   0.  ,  12.  ,   8.  ,  11.  ,   4.  , 249.92],
       [  2.  ,  13.  ,   1.  ,  12.  ,   5.  ,   3.  ,   7.  ,   6.  ,
         11.  ,   8.  ,   4.  ,  10.  ,   9.  ,   0.  , 236.07],
       [  6.  ,   7.  ,  10.  ,   5.  ,   3.  ,   4.  ,   8.  ,  11.  ,
         12.  ,  13.  ,   2.  ,   1.  ,   9.  ,   0.  , 236.92],
       [ 13.  ,   2.  ,   8.  ,   4.  ,  10.  ,   5.  ,   3.  ,   7.  ,
          6.  ,  11.  ,  12.  ,   0.  ,   9.  ,   1.  , 245.07],
       [  8.  ,   4.  ,   3.  ,   5.  ,  11.  ,   7.  ,  10.  ,   6.  ,

In [ ]:
Save_ACO(hasil)